include templates/mixins/indexFolders

doctype html
head
  include templates/includes/css
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8') 
html
  body.index
    article
      header
        h1 wahlometer.watch JSON schemas

        p
          | Text

      section
        h2 Documentation

        ul
          each file, name in files
            if typeof file === 'string'
              li
                a(href=name)= name

        each folder, name in files
          if typeof folder === 'object'
            h2= name
            ul
              mixin indexFolders(folder, 3)

      include templates/includes/footer
