.bigbutton {
    border: 4px solid #2e6da4;
    background-color:#337ab7;
    color:#fff;
    width: 150px;
    height: auto;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    padding: 0.8rem;
    display: inline-block;
}

.bigbutton:focus
    {color:#fff;
    background-color:#286090;
    border-color:#122b40
}

.bigbutton:hover
    {color:#fff;
    background-color:#286090;
    border-color:#204d74
}

.bigbutton:active{
    color:#fff;
    background-color:#286090;
    border-color:#204d74
}

img {
    max-width: 95%; /* NEEDS CHANGING */
}