* {
  margin: 0;
  padding: 0;
}
body,
html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Verdana";
  color: #002633;
  font-size: 12px;
}
body {
  height: 100%;
  background: linear-gradient(#99e6ff, #3cf 100%);
}
article {
  background: #fff;
  margin: 40px;
  padding: 40px;
  border-radius: 3px;
  overflow: hidden;
}
article > header {
  border-bottom: 1px solid #002633;
  padding: 0 0 20px 0;
  margin: 0 0 7px 0;
}
article > header p {
  width: 600px;
}
footer {
  border-top: 1px solid #002633;
  padding: 20px 0 0 0;
  margin: 7px 0 0 0;
}
.container {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  display: block;
}
.container.top {
  padding: 0 0 7px 0;
}
.container.bot {
  padding: 7px 0 0 0;
}
.required {
  color: #ad0000;
  position: absolute;
  font-size: 8px;
  left: -10px;
  top: 1px;
  text-shadow: 0.5px 0.5px #002633;
}
dl {
  float: left;
  width: 100%;
}
dt {
  font-weight: bold;
  position: relative;
  width: 200px;
  color: #004d66;
  clear: left;
  float: left;
  margin: 0 0 7px 3px;
}
dt.parent {
  color: #09c;
  cursor: pointer;
}
dd {
  display: inline-block;
  overflow: hidden;
  margin: 0 0 7px 3px;
  float: left;
}
dd.new-block {
  clear: left;
  display: block;
  padding: 0 0 0 17px;
}
dd:last-child {
  margin-bottom: 0;
}
dd p {
  margin: 0;
  max-width: 600px;
}
.index ul {
  padding: 0;
}
li {
  clear: left;
  overflow: hidden;
  padding: 7px;
  border-radius: 3px;
  position: relative;
}
li:nth-child(odd) {
  background: #eee;
}
li:nth-child(even) {
  background: #ddd;
}
h1 {
  color: #09c;
  margin: 0 0 7px 0;
  font-size: 24px;
}
h2 {
  color: #09c;
  line-height: 180%;
  padding-left: 15px;
  width: 200px;
  float: left;
}
h3,
h4,
h5,
h6 {
  color: #09c;
  line-height: 140%;
  padding: 0 0 7px 0;
}
p {
  margin: 0 0 7px 0;
}
a {
  color: #09c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
